body {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/da130c109346193.5fd19bc054864.jpg");
    background-size: cover; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 2.0;
	margin: 2%;
    color: bisque;
}
header {
    padding: 1%;
    /*background-color: rgba(9, 10, 11, 0.663)*/;
    border: none;
    margin-left: -2%;
    margin-right: -2%;
}
img {
    border-radius: 18px;
}
main span img{
    border-style: solid;
    transition: 0.3s;
}
main span img:hover {
    transform: scale(1.15);
    border-width: 1.5px;
    border-color: rgba(218, 221, 41, 0.945);
    box-shadow: 1px 1px 5px 3px rgb(202, 232, 134);
}
header > h1 {
    text-align: center;
    color: #4AF57C;
    text-shadow: 2.0px 2.0px rgba(0, 255, 21, 0.201);
    font-weight: bolder;
    font-size: 40px;
    background-color: #000000bc;
    border-radius: 15px;
    border-style: solid;
    border-color: #7ef58a17;
    border-width: 3px;
    box-sizing: border-box;
}
header > h1:hover {
    background-color: rgba(0, 0, 255, 0.377);
}
header > div {
    text-align: right;
}
main {
    background-color: rgba(120, 225, 106, 0.245);
    margin-left: -2%;
    margin-right: -2%;
    border-radius: 4px;
    padding: 2.5%;
    border-style: solid;
    border-color: #937f7f;
    border-width: thin;
    box-sizing: border-box;
}
footer {
    /*background-color: rgb(37 60 42 / 45%);*/
    margin-left: -2%;
    margin-right: -2%;
}
main > h1 {
    text-align: center;
    font-weight: bolder;
    color: #4AF57C;
    background-color: #000000ae;
    border-radius: 15px;
    margin-left: 4%;
    margin-right: 4%;
    text-shadow: 1.2px 1.2px rgba(0, 255, 21, 0.201);
}
main > h1:hover {
    background-color: rgba(0, 0, 255, 0.377);
}
main h2:hover {
    background-color: rgba(0, 0, 255, 0.377);
}
main h2 {
    text-align: center;
    font-weight: bolder;
    color: #4AF57C;
    background-color: #0000008d;
    border-radius: 10px;
    margin-left: 8%;
    margin-right: 8%;
    text-shadow: 1.2px 1.2px rgba(0, 255, 21, 0.201);
}
.rodape a {
    float: right;
    margin: 2px;
}
.rodape {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
    padding-top: 4%;
}
.div_lista {
    display: inline-flex;
    align-items: center;
}
ul.lista {
    width: 33%;
    height: 100%;
}
img#img01 {
    width: 33%;
    height: 100%;
    margin: 0.5%;
    border-style: solid;
    border-width: 1px;
    border-color: #675656e6;
    border-style: solid;
    transition: 0.3s;
}
img#img02 {
    width: 33%;
    height: 100%; 
    margin: 0.5%;
    border-style: solid;
    border-width: 1px;
    border-color: #675656e6;
    border-style: solid;
    transition: 0.3s;
}
.div_lista img:hover {
    transform: scale(1.2);
    border-width: 3.5px;
    border-color: rgba(218, 221, 41, 0.945);
    box-shadow: 1px 1px 5px 3px rgb(202, 232, 134);
}
main span img {
    width: 49%;
    height: 100%;
    display: inline-flex;
    border-color: #937f7fe6;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}
input[type="text"] {
    width: 25%;
    height: 28px;
    border-radius: 12px 0px 0px 12px;
    border-style: outset;
    border-right: none;
    border-color: rgba(0, 0, 255, 0.377);
}
button#button-bar:hover {
    background-color: rgba(0, 0, 255, 0.377);
}
button#button-bar  {
    width: 10%;
    height: 28spx;
    border-radius: 0px 12px 12px 0px;
    border-style: outset;
    border-left: none;
    background-color: green;
    border-color:rgba(0, 0, 255, 0.09);
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}
#bar {
	display: flex;
	justify-content: flex-end;
}
#fundo_suave {
    background-color: rgba(9, 10, 11, 0.801);
    border-radius: 28px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 2%;
}
.number-pages {
    letter-spacing: 5%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.number-pages span {
    border-radius: 0px 12px 12px 0px;
}
.number-pages a:first-child {
    border-radius: 12px 0px 0px 12px;
}
.number-pages a {
    text-decoration: none;
}
.number-pages > a, .number-pages > span {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    border-style: solid;
    color: white;
    /*font-weight: 900;*/
    border-color: rgba(255, 255, 255, 0.316);
    border-width: 1px;
    padding: 0px 10px;
    max-height: 10%;
    transition: all 0.3s;
    background-color: #0000006f;
    margin-top: 10%;
}
.number-pages > a:hover {
    font-size: 25px;
    padding: 0px 12px;
    background-color: rgba(0, 0, 255, 0.377);
}
.rodape > a {
    color: #4AF57C;
}

@media (max-width: 760px) {
    #button-bar {
        min-width: 23%;
        font-size: 12px;
    }
    input[type="text"] {
        width: 35%;
    }
    div.div_lista {
        display: block;
        text-align: center;
    }
    ul.lista {
        width: 85%;
        text-align: center;
    }
    #img01, #img02 {
        min-width: 45%;
        margin: 1px
    }
}
@media (max-width: 317px) {
    header > h1 {
        font-size: 30px;
    }
}
@media (max-width: 600px) {
    #img01, #img02 {
        min-width: 85%;
    }
    main span img {
        min-width: 85%;
    }
    main {
        text-align: center;
    }
    #link-to-form {
        min-width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .rodape {
        text-align: center;
    }
}